@mixin Ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin mutilEllipsis($line) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
}

